.para:before {
    content: 'Before Element';
    color: rgb(255,0,0);
    font-size: 20px;
    margin-right: 5px;
	font-weight: bold;
}

.para:after {
    content: 'After Element';
    color: rgb(255,0,0);
    font-size: 20px;
    margin-left: 5px;
	font-weight: bold;
}